.ArticleListingHeader {
  margin-left: 8%
}

.ArticleListing {
  margin: 0 auto; 
  max-width: 80%; 
  padding: 0 25px;
}

.App h1 {
  font-size: 70px;
}

.ArticleCard {
  border: 1px solid black;
  display: flex;
  flex-direction: row; 
  margin: 3% 8%;
  padding: 25px 30px; 
}

.ArticleCardImage {
  flex-basis: 30%; 
  margin-right: 30px;
}

.ArticleCardImage img {
  width: 100%; 
  height: auto; 
}

.ArticleCardText {
  flex-basis: 70%;
}

.ArticleHeaderWrapper {
  background-color: gray;
  background-position: center;
  padding-bottom: 60px;
  padding-top: 65px;
}

.ArticleHeader {
  margin: 0 26% 40px;
  max-width: 800px;
}

.ArticleHeader h1 {
  font-size: 48px;
  margin: 0;
}

.ArticleHeaderBlurb {
  font-size: 20px;
}

.ArticleCardText {
  flex-basis: 70%;
}

.ArticleCard a {
  font-weight: bold;
}

.ArticleText {
  margin: 2% 26%
}